<header>
  <img
    src="assets/img/natalia.jpeg"
    alt="Profile picture"
    height="130px"
    width="130px"
    loading="eager"
    />
    <h1>Natalia</h1>
</header>
<aside>
  <div class="container">
    <p>Full-Stack Javascript | React | Angular | NodeJs | NestJs</p>
    <p>Itajubá, Minas Gerais, Brasil</p>
    <p>
      Estou na área de desenvolvimento de software há 3 anos. Devido isso resolvi abraçar a stack JS pois atua no Frontend / Backend.
    </p>
    <nav>
      <ul>
        <li>
          <a
            href="assets/pdf/cv.pdf"
            target="_blank"
            class="btn btn-primary"
          >
            Download Cv
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/natalia-de-souza-ribeiro/"
            target="_blank"
            class="btn btn-secondary"
          >
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>
    <section>
      <figure>
        <img
          src="assets/icons/whatsapp.svg"
          alt="whatsapp icon"
          height="24px"
          width="22px"
        />
        <figcaption>
          <a
            href="https://api.whatsapp.com/send?phone=5511xxxxxxxxx&text=Ol%C3%A1%20DNatalia,%20preciso%20de%20um%20job!"
            target="_blank"
          >
          <strong>Envie uma menssagem para:</strong>
          <p>Whatsapp: (35) xxxxx - xxxx</p>
          </a>
        </figcaption>
      </figure>
      <figure>
        <img
          src="assets/icons/mail.svg"
          alt="email icon"
          height="24px"
          width="22px"
        />
        <figcaption>
          <a
            href="mailto:nataliaribeiro@unifei.edu.br"
            target="_blank"
          >
            <strong>Envie uma e-mail para:</strong>
            <p>nataliaribeiro&#64;unifei.edu.br</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
