:root {
  --primary: #4527A0

  ;
  --primary-010: #7E57C2

  ;

  --secondary: #B39DDB

  ;
  --secondary-010: #311B92


  ;

  --white: #fff;

  --black: #10101a;
  --black-010: #2a2a30;

  --grey: #9b9ba0;
}
